{{yield}}
<div class="panel panel-default" style="margin-top:15%;">
  		<div class="panel-heading">
  			<h3 class="panel-title">{{model.title}}
			<span class="pull-right" style="font-size: 12.5px; color: rgb(189, 189, 189); font-weight: lighter; margin-top: 3px;">{{model.taskTime}}</span>
  			</h3>
  		</div>
  		<div class="panel-body">
  			{{#each model.postComments as |comment|}}
				<div contenteditable={{comment.isEditable}} {{action 'contentEditable' comment}} style="border: 1px solid #ddd;padding: 5px;border-radius: 5px;margin-bottom: 5px;">{{comment.text}} <span class="pull-right" {{action 'removeComment' comment}} style="cursor:pointer;">x</span></div>
  			{{/each}}
  			<form>
			  	<div class="form-group">
					<label>Comment</label>
					{{textarea class="form-control" placeholder="Comment here..." value=comments cols="20" rows="4"}}
				</div>
				<button class="pull-right btn btn-sm btn-primary" type="submit" {{action 'addComment'}}>Post</button>
			</form>	

  		</div>

  		{{is-and 9.88}}
  	</div>