<h2 align="center">Todo App</h2>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
  	<form>
  	<div class="form-group">
		<label>Task</label>
		{{input placeholder="New Todo..."  autofocus="true" value=title class="form-control"}}
	</div>
	<div class="form-group">
		<label>Time</label>
		<div class="row">
			<div class="col-xs-6">
				<div class="row">
					<div class="col-xs-4">
						{{input min="0" placeholder="Hours" type="number" value=taskTime.hours class="form-control"}}	
					</div>
					<div class="col-xs-4">
						{{input min="0" placeholder="Minutes" max="60" type="number" value=taskTime.minutes class="form-control" focus-out="adjustMinutes"}}
					</div>
				</div>	
			</div>	
		</div>
	</div>	
	<button type="submit" {{action 'addTodo'}} class="btn btn-sm btn-primary" disabled={{enableSubmitButton}}>Add To do</button>
</form>
<br>
  	<button class="btn btn-sm btn-danger pull-right" {{action "showTask" 'Incomplete'}}>In Complete</button>
	<button class="btn btn-sm btn-success pull-right" {{action "showTask" 'Completed'}} style="margin-left: 2px;margin-right: 2px;margin-bottom: 2px;">Completed</button>
  	<button class="btn btn-sm btn-default pull-right" {{action "showTask" 'all'}}>All</button>
	 <table class="table table-bordered">
	    <thead>
	      <tr>
	        <th>Id</th>
	        <th>Task</th>
	        <th>Required Time</th>
	        <th>Status</th>
	        <th></th>
	      </tr>
	    </thead>
	    {{#if model.length}}
		    <tfoot>
			    <tr>
			      <td colspan="5" style="text-align:right;">Total Time: {{totalTime}}</td>
			    </tr>
			</tfoot>
		{{/if}}	
	    <tbody>
	      {{#each model as |post|}}
	      	<tr>
	      		<td>{{post.id}}</td>
	      		<td style="text-align:center">{{post.title}}</td>
	      		<td style="text-align:center"rr>{{post.taskTime}}</td>
	      		<td><button class={{post.taskStatus}} {{action "markComplete" post}}>{{post.taskStatus}}</button></td>
	      		<td>
	      			<button class="label label-danger" {{action "removeTask" post}}>Remove</button>
	      		</td>
	      	</tr>
	      	{{else}}
	      		<tr>
	      			<td colspan="8" style="text-align:center">No Task added yet..</td>
	      		</tr>
		  {{/each}}
	    </tbody>
	  </table>
	</div>
</div>	  



